[submodule "pota"]
	path = pota
	url = https://github.com/ymesh/pota
	branch = arnold_7.3
[submodule "Eigen"]
	path = Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "CryptomatteArnold"]
	path = CryptomatteArnold
	url = https://github.com/ymesh/CryptomatteArnold.git
	branch = lentil_patch
